<header>
    <div class="container">
        <!-- top nav -->
        <nav class="top_nav d-flex pt-3 pb-1">
            <!-- logo -->
            <h1>
                <a class="navbar-brand" href="index.html">
                    <img src="~/Assets/client/images/logo.png" style="height:70px" />
                </a>
            </h1>
            <form class="nav-search form-inline my-0 form-control" action="#" method="post">
                <input class="form-control input-lg" name="category" value="Tìm Kiếm" />

                <button type="submit" class="fas fa-search btn btn-outline-secondary  ml-3 my-sm-0"></button>
            </form>
            <h1><img src="~/Assets/client/images/logo2.png" style=" width:400px; margin-right:280px;" /></h1>
            <!-- //logo -->
            <div class="w3ls_right_nav ml-auto d-flex">
                <!-- search form -->
                <!-- search form -->
                <div class="nav-icon d-flex">
                    <!-- sigin and sign up -->
                    <a class="text-dark login_btn align-self-center mx-3" href="#myModal_btn" data-toggle="modal" data-target="#myModal_btn">
                        <i class="far fa-user" style="color:#00a65a"></i>
                    </a>
                    <!-- sigin and sign up -->
                    <!-- shopping cart -->
                    <div class="cart-mainf">
                        <div class="hubcart hubcart2 cart cart box_1">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="display" value="1">
                                <button class="btn top_hub_cart mt-1" type="submit" name="submit" value="" title="Cart" style="margin-top:20px;">
                                    <i class="fas fa-shopping-bag" style="color:#00a65a;"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- //shopping cart ends here -->
                </div>
            </div>
        </nav>
        <!-- //top nav -->
    </div>
    <!-- //header container -->
</header>
